/* Общие стили */
body {
  margin: auto;
  background-color: #202020;
}
/* Стили для темной темы */
.content-dark,
.sidebar-dark {
  color: #ebebeb;
}

.sidebar-dark {
  text-align: center;
  position: fixed;
  background-color: #242424;
  float: left;
  height: 100rem;
  width: 10%;
}
.content-dark {
  text-align: center;
  background-color: #202020;
  height: 100rem;
  width: 90%;
  float: right;
}
.titles {
  color: rgb(201, 201, 201);
  font-size: 2rem;
  letter-spacing: 1px;
}
.title-1 {
  height: 3.2rem;
}
