/* Общие стили */
body {
  margin: auto;
  background-color: #202020;
  overflow: auto;
  height: 100%;
}

/* Стили для темной темы */
.content-dark,
.sidebar-dark {
  color: #ebebeb;
}

.sidebar-dark {
  text-align: center;
  position: fixed;
  background-color: #2e2e2e;
  float: left;
  height: 100vh;
  width: 10%;
}

.content-dark {
  text-align: center;
  background-color: #202020;
  height: 100vh;
  width: 90%;
  float: right;
}

.titles-dark {
  color: rgb(201, 201, 201);
  font-size: 2rem;
  letter-spacing: 1px;
}

.title-1-dark {
  height: 3.2rem;
}

.title-1-dark h2 {
  font-weight: normal;
}

.tools {
  display: inline-flex;
  gap: 1rem;
}

.search-bar,
.adding-bar {
  width: 50%;
  margin: 4rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  background: #343434;
  margin-bottom: 0.4rem;
}

.search-bar input,
.adding-bar input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: rgb(210, 210, 210);
  background: #343434;
}

.search-bar-img,
.adding-bar-img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: whitesmoke;
  transition: opacity 300ms ease;
}

.search-bar-img:hover,
.adding-bar-img:hover {
  opacity: 0.6;
}

.todo {
  margin-top: 3%;
}

.task-line {
  margin-top: 1%;
  display: inline-flex;
  width: 43%;
  height: 1.6rem;
  border-bottom: 1px groove rgb(203, 203, 203);
  font-size: 1.3rem;
  font-family: var(--font-raleway);
  font-weight: 500;
}
.task-name {
  height: auto;
  width: 50%;
}
.status,
.edit,
.remove {
  height: auto;
  width: 17%;
}

.tasks {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.task {
  display: inline-flex;
  color: #ebebeb;
  font-size: 1.3rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  justify-content: center;
  width: 43%;
  height: 3rem;
  border-bottom: #343739 groove 1px;
  margin: auto;
  text-align: center;
  align-items: center;
}

.complete {
  color: #919191;
  text-decoration: line-through;
}

.task-delete-icon {
  padding-top: 0.3%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: whitesmoke;
  transition: 0.4s;
}

.task-delete-icon:hover {
  color: red;
}

.task-edit-icon {
  padding-top: 0.3%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: whitesmoke;
  transition: 0.4s;
}

.task-edit-icon:hover {
  color: #ff8c1a;
}

.task-do {
  width: 50%;
  margin: auto;
}

.empty-tasks {
  color: #ebebeb;
  font-size: 1.3rem;
  font-family: var(--font-raleway);
  font-weight: 500;
}

.task-edit-form,
.task-delete-form,
.button-status {
  height: auto;
  width: 17%;
}
